name: Build and Package Docker Image

on:
  push:
    tags: ['*']

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
    - name: Checkout repository
      uses: actions/checkout@v3

    - name: Set up Docker Buildx
      uses: docker/setup-buildx-action@v3

    # - name: Log in to Docker Hub
    #   uses: docker/login-action@v2
    #   with:
    #     username: ${{ secrets.DOCKER_HUB_USERNAME }}
    #     password: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}

    - name: Extract Docker metadata
      id: meta
      uses: docker/metadata-action@v4
      with:
        images: sap-message-proxy
        tags: |
          type=ref,event=tag
        flavor: |
          latest=false
    
    - name: Get Dockerfile
      run: cp MessageProxy/Dockerfile ./Dockerfile

    - name: Build and push Docker image
      uses: docker/build-push-action@v4
      with:
        context: .
        push: false
        tags: ${{ steps.meta.outputs.tags}} 
        outputs: type=docker,dest=./sap-message-proxy_${{ github.ref_name }}.tar
    
    - name: Save Docker images to Release
      uses: softprops/action-gh-release@v2
      with:
        files: ./sap-message-proxy_${{ github.ref_name }}.tar
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}